
#SiteTitle{
    background-color: green;
    border-color: green;
    border-radius: 0.5em;
    opacity: 0.9;
    margin: 0.2em;
    padding-bottom: 0.2em;
    margin-bottom: 2em;
    text-align: center;
    position: fixed;
    width: 98%;
    height: 6%;
    z-index: 1;
}



